/* Everything */
h2{
 
    margin-left: 20px;
    padding: 10px;
}

 *{
    font-family: Georgia, serif;
    margin: 20px;
   
}


p{
    padding-top: 2px;
}



/* HEADER */
nav a{
    display: inline-block;
    text-decoration: none;
    color: #000000;
    margin: 5px; 
}



nav{
    display: inline-block;
    float: right;
}


 
 #logo {
    width: 20px;
 }
 
 /* SWOT */
 
 img.SWOT{
    width: 200px;
    margin: 25px;
    
 }
 
 section.SWOT {
    display: inline-block;
    float: center;
    text-align: center;
    width: 250px;
    margin: 10px;

 }
 
 p.SWOT{
    padding: 50px;
   
    float: center;
    text-align: center;
    
 }
 
  footer a{
  
    font-size: 15px;
    color: #9D9E9D;
    margin: 5px;
 }
 
 footer{
    margin-top: 200px;
 }
 
 
/* INDEX */ 


#frontPhoto{
    width: 180px;
    display: inline-block;
    float: right;

    padding-right: 50px;
    padding-left: 10px;
    padding-bottom: 15px;

}



 
 #MBTI, #clifton {
    font-size: 20px;
    padding: 0px;
}

img.contact {
    display: inline-block;
    float: center;
    width: 100px;
 padding: 10px;
}

#story1, #story3, #ba, #project1 {
    background-color: rgb(135, 206, 235, 0.7) ;
}

#story2, #story4, #project2, #se{
   background-color: rgba(215, 212, 249, 0.7) ;
}

#v1, #v2 {
 width: 400px ;
 display: inline-block;
 float: center;
 padding: 30px;
}
 
h1{
    display: inline-block;
  
} 

header{
background: -moz-linear-gradient(top, rgba(215, 212, 249, 0.7) 0%, rgb(135, 206, 235, 0.7)  100%);
background: -webkit-linear-gradient( rgba(215, 212, 249, 0.7) 0%, rgb(135, 206, 235, 0.7)  100%);
background: -o-linear-gradient( rgba(215, 212, 249, 0.7) 0%, rgb(135, 206, 235, 0.7) 100%);
background: linear-gradient( rgba(215, 212, 249, 0.7) 0%, rgb(135, 206, 235, 0.7) 100%); 
 height: 100px;
 padding: 10px;
}

nav a:hover{
    background-color: 	#F0FFFF ;
}

section{
 padding: 5px;
}

